.section-one .bg {
  background-color: white;
}
.section-one .bg .logo {
  transition: all 0.5s ease-in-out;
}
.section-one .bg .logo:hover {
  scale: 0.9;
}
.section-one .ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-one .ul .drop-menu {
  position: absolute;
  left: 40px;
}
.section-one .ul a {
  position: relative;
  margin-right: 35px !important;
  margin: 41px 0;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #212B36;
  transition: all 0.5s ease-in-out;
}
.section-one .ul .blue {
  color: #3056D3;
}
.section-one .ul a:hover {
  scale: 0.9;
}
.section-one .ul a::before {
  content: "";
  position: absolute;
  top: 34px;
  width: 0;
  height: 3px;
  background-color: #3056D3;
  transition: all 0.5s ease-in-out;
}
.section-one .ul a:hover::before {
  content: "";
  position: absolute;
  top: 34px;
  width: 100%;
  height: 3px;
  background-color: #3056D3;
}
.section-one .ul .drop {
  background: #F4F7FF;
  border-radius: 5px;
  width: 172px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 45px;
  margin-right: 45px;
}
.section-one .content-box {
  padding: 0 135px;
}
.section-one .content-box .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 154px;
  cursor: pointer;
}
.section-one .content-box .icon img {
  transition: all 0.3s ease-in-out;
}
.section-one .content-box .icon img:hover {
  scale: 1.2;
}
.section-one .content-box .icon .icon-box {
  position: relative;
}
.section-one .content-box .icon .icon-box img {
  margin-left: 21px;
}
.section-one .content-box .icon .icon-box .number {
  position: absolute;
  top: -4px;
  right: -6px;
  background-color: #3056D3;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.section-one .content-box .icon .icon-box .number:hover {
  scale: 1.5;
}

.section-two .carusel-bg {
  background-image: url(img/section-one/Rectangle\ 4924.png);
}
.section-two .carusel-bg .content-box .card-box1 h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #3056D3;
  margin-top: 145px;
}
.section-two .carusel-bg .content-box .card-box1 h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #212B36;
  margin-top: 13px;
}
.section-two .carusel-bg .content-box .card-box1 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin-top: 15px;
}
.section-two .carusel-bg .content-box .card-box1 .btn1 {
  background-color: #3056D3;
  border-radius: 30px;
  width: 139px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 35px;
  transition: all 0.5s ease-in-out;
}
.section-two .carusel-bg .content-box .card-box1 .btn1:hover {
  scale: 1.2;
  box-shadow: 1px 1px 20px #3056D3;
}
.section-two .carusel-bg .content-box .card-box2 {
  position: relative;
}
.section-two .carusel-bg .content-box .card-box2 .two {
  position: absolute;
  right: -57px;
}
.section-two .carusel-bg .content-box .card-box2 .speaker {
  position: absolute;
  top: 81px;
  right: 306px;
}
.section-two .carusel-bg .slide-btn {
  border: 1px solid #637381;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 80px;
}
.section-two .carusel-bg .slide-btn2 {
  background-color: #3056D3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 80px;
}

.section-three .content-box .roww {
  margin-top: 80px;
  margin-bottom: 80px;
}
.section-three .content-box p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
}
.section-three .content-box h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #212B36;
}
.section-three .content-box .bg-one {
  background-image: url(img/section-three/Rectangle\ 4856.jpg);
  background-size: cover;
  padding-top: 40px;
  padding-left: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 30px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.section-three .content-box .bg-one h3 {
  margin-bottom: 344px;
}
.section-three .content-box .bg-one:hover {
  transform: translateY(-20px);
  box-shadow: 1px 1px 20px black;
  border-radius: 20px;
}
.section-three .content-box .bg-two {
  background-image: url(img/section-three/Rectangle\ 4857\ 2.png);
  background-size: cover;
  padding-top: 40px;
  padding-left: 40px;
  position: relative;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.section-three .content-box .bg-two h3 {
  padding-bottom: 84px;
}
.section-three .content-box .bg-two .mi {
  position: absolute;
  top: 25px;
  right: 58px;
}
.section-three .content-box .bg-two:hover {
  transform: translateY(-20px);
  box-shadow: 1px 1px 20px black;
  border-radius: 20px;
}
.section-three .content-box .bg-three {
  background-image: url(img/section-three/Rectangle\ 4857.jpg);
  background-size: cover;
  padding-top: 40px;
  padding-left: 40px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.section-three .content-box .bg-three h3 {
  padding-bottom: 84px;
}
.section-three .content-box .bg-three:hover {
  transform: translateY(-20px);
  box-shadow: 1px 1px 20px black;
  border-radius: 20px;
}

.section-four {
  background-color: #FAFAFA;
  min-height: 130vh;
}
.section-four .section-title {
  text-align: center;
}
.section-four .section-title h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  text-transform: capitalize;
  color: #212B36;
  padding-top: 120px;
}
.section-four .section-title p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin-top: 15px;
  margin-bottom: 70px;
}
.section-four .content-box .col-img {
  padding: 0 !important;
  margin: 0 15px;
  border: 1px solid #E7E7E7;
  border-radius: 14px;
  transition: all 0.4s ease-in-out;
}
.section-four .content-box .col-img .img {
  width: 100%;
}
.section-four .content-box .col-img .text-box {
  padding-top: 25px;
  padding-left: 25px;
}
.section-four .content-box .col-img .text-box h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #212B36;
}
.section-four .content-box .col-img .text-box p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
}
.section-four .content-box .col-img .star-box {
  display: flex;
  align-items: center;
  border: 1px solid #E7E7E7;
  border-bottom: none;
  border-right: none;
  border-left: none;
  height: 54px;
  padding-left: 25px;
}
.section-four .content-box .col-img .star-box img {
  margin-right: 5px;
}
.section-four .content-box .col-img .star-box p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin: 0;
}
.section-four .content-box .col-img .star-box .price {
  border: 1px solid #E7E7E7;
  border-top: none;
  border-bottom: none;
  border-right: none;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 97px;
}
.section-four .content-box .col-img .star-box .price p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #212B36;
  padding: 15px 15px 15px 20px;
}
.section-four .content-box .col-img:hover {
  transform: translateY(-30px);
  box-shadow: 1px 1px 20px black;
  cursor: pointer;
}
.section-four .content-box .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 42px;
  border-radius: 23px;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 120px;
}
.section-four .content-box .btn-box .one {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #E7E7E7;
  margin-right: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.section-four .content-box .btn-box .one:hover {
  scale: 1.5;
  box-shadow: 1px 1px 20px black;
}
.section-four .content-box .btn-box .two {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #E7E7E7;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3056D3;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.section-four .content-box .btn-box .two:hover {
  scale: 1.5;
  box-shadow: 1px 1px 20px #3056D3;
}

.section-five .section-title {
  text-align: center;
}
.section-five .section-title h1 {
  margin-top: 120px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  text-transform: capitalize;
  color: #212B36;
}
.section-five .section-title p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin-top: 15px;
  margin-bottom: 70px;
}
.section-five .content-box .col-box {
  border: 1px solid #E7E7E7;
  padding: 25px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.section-five .content-box .col-box img {
  width: 100%;
}
.section-five .content-box .col-box h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #212B36;
  margin-top: 25px;
}
.section-five .content-box .col-box h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #212B36;
  margin-top: 10px;
}
.section-five .content-box .col-box .star-box {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}
.section-five .content-box .col-box .star-box img {
  width: 16px;
  margin-right: 5px;
}
.section-five .content-box .col-box .star-box p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin: 0 5px;
}
.section-five .content-box .col-box:hover {
  transform: translateY(-30px);
  box-shadow: 1px 1px 20px;
  border-radius: 10px;
}

.section-six .section-title {
  text-align: center;
}
.section-six .section-title h1 {
  margin-top: 120px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  text-transform: capitalize;
  color: #2E2E2E;
}
.section-six .section-title p {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #637381;
  margin-bottom: 70px;
}
.section-six .content-box .col-box {
  position: relative;
  border: 1px solid #E7E7E7;
  padding: 0 30px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.section-six .content-box .col-box .star-box {
  margin-top: 30px;
}
.section-six .content-box .col-box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #637381;
  margin-top: 18px;
}
.section-six .content-box .col-box .image {
  margin-bottom: 30px;
}
.section-six .content-box .col-box .name-box {
  position: absolute;
  bottom: 20px;
  left: 98px;
}
.section-six .content-box .col-box .name-box h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #32435C;
}
.section-six .content-box .col-box .name-box p {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #969696;
  margin-top: 5px;
}
.section-six .content-box .col-box:hover {
  transform: translateY(-30px);
  box-shadow: 1px 1px 20px black;
}
.section-six .content-box .btn-box {
  width: 115px;
  height: 64px;
  background-color: #F4F7FF;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.section-six .content-box .btn-box .btn1 {
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.section-six .content-box .btn-box .btn1:hover {
  scale: 1.2;
}
.section-six .content-box .btn-box .btn2 {
  width: 47px;
  height: 47px;
  background-color: #3056D3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.section-six .content-box .btn-box .btn2:hover {
  scale: 1.2;
}

.section-seven .section-title {
  text-align: center;
}
.section-seven .section-title h1 {
  margin-top: 120px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  text-transform: capitalize;
  color: #2E2E2E;
}
.section-seven .section-title p {
  margin-top: 15px;
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #637381;
}
.section-seven .content-box .col-box {
  padding: 15px;
}
.section-seven .content-box .col-box .img {
  width: 100%;
}
.section-seven .content-box .col-box h5 {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #3056D3;
  margin-top: 30px;
}
.section-seven .content-box .col-box h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #212B36;
  margin-top: 12px;
}
.section-seven .content-box .col-box .star-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.section-seven .content-box .col-box .star-box p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #637381;
  margin: 0;
  margin-left: 15px;
}
.section-seven .content-box .col-box .star-box .inner-img {
  margin-left: 30px;
}
.section-seven .content-box .move {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.section-seven .content-box .move:hover {
  transform: translateY(-30px);
  box-shadow: 1px 1px 20px black;
}
.section-seven .content-box .col-box1 {
  background-color: #3056D3;
  text-align: center;
  margin-top: 15px;
  margin-left: 15px;
}
.section-seven .content-box .col-box1 .inner-box {
  padding: 0 45px;
}
.section-seven .content-box .col-box1 .inner-box h4 {
  font-weight: 600;
  font-size: 27px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 60px;
}
.section-seven .content-box .col-box1 .inner-box h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 4px;
  margin-bottom: 27px;
}
.section-seven .content-box .col-box1 .inner-box input {
  height: 50px;
  text-align: center;
  background-color: #30599B;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
}
.section-seven .content-box .col-box1 .inner-box input::-moz-placeholder {
  color: #FFFFFF;
}
.section-seven .content-box .col-box1 .inner-box input:-ms-input-placeholder {
  color: #FFFFFF;
}
.section-seven .content-box .col-box1 .inner-box input::placeholder {
  color: #FFFFFF;
}
.section-seven .content-box .col-box1 .inner-box button {
  width: 100%;
  height: 50px;
  background-color: #13C296;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}
.section-seven .content-box .col-box1 .inner-box button:hover {
  scale: 1.1;
}
.section-seven .content-box .col-box1 .inner-box p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 24px;
}

.section-eight {
  position: relative;
  background-color: #212B36;
  margin-top: 120px;
}
.section-eight .one {
  position: absolute;
  top: 23px;
  right: 23px;
}
.section-eight .content-box {
  padding-top: 100px;
}
.section-eight .content-box .logo {
  margin-bottom: 46px;
}
.section-eight .content-box .location {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF !important;
}
.section-eight .content-box .line {
  width: 40px;
  height: 3px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  margin-top: 20px;
}
.section-eight .content-box h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.section-eight .content-box .p p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #CACBCF;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.section-eight .content-box .p p:hover {
  scale: 1.2;
}
.section-eight .content-box .p .air {
  text-decoration: underline;
  color: #FFFFFF;
}
.section-eight .content-box .p span {
  margin-right: 15px;
}
.section-eight .content-box .p .span {
  margin-right: 15px;
}
.section-eight .content-box .p .btn-box {
  margin: 8px 0;
}
.section-eight .content-box .p .btn-box .btn {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.06);
}
.section-eight .content-box .p .btn-box .btn input {
  background-color: rgba(255, 255, 255, 0.06);
  border: none;
  border-radius: 0;
  height: 50px;
  color: #FFFFFF;
  width: 65%;
}
.section-eight .content-box .p .btn-box .btn button {
  background-color: #3056D3;
  width: 35%;
  height: 100%;
  border: none;
  border-radius: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 8px 19px;
  transition: all 0.4s ease-in-out;
}
.section-eight .content-box .p .btn-box .btn button:hover {
  scale: 1.2;
}
.section-eight .second-container {
  background-color: #2E3842;
  padding: 35px 0;
}
.section-eight .second-container .d {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-eight .second-container .d img {
  width: 50px;
  height: 16px;
  margin-left: 15px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.section-eight .second-container .d img:hover {
  scale: 1.4;
}
.section-eight .second-container .d p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #CACBCF;
  margin: 0;
}
.section-eight .second-container .last img {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: 18px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.section-eight .second-container .last img:hover {
  scale: 1.4;
}

.child-box .section-one .nav-first .bg {
  height: 100%;
  padding: 0;
}
.child-box .section-one .nav-first .bg .content-box {
  position: relative;
  padding: 0;
}
.child-box .section-one .nav-first .bg .ul .float-endd {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.child-box .section-one .nav-first .bg .ul .float-startt {
  display: flex;
  align-items: center;
}
.child-box .section-one .nav-first .bg .ul .nav-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #637381;
  padding: 0;
  margin: 17px 0 !important;
  margin-right: 25px !important;
}
.child-box .nav-second {
  border: 1px solid #E7E7E7;
  border-left: none;
  border-right: none;
}
.child-box .nav-second .content-box .logo {
  margin-right: 90px;
  transition: all 0.4s ease-in-out;
}
.child-box .nav-second .content-box .logo:hover {
  scale: 0.9;
}
.child-box .nav-second .content-box .navbarr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.child-box .nav-second .content-box .navbarr .nav-item .blue {
  color: #3056D3 !important;
}
.child-box .nav-second .content-box .navbarr .nav-item p {
  margin: 0;
}
.child-box .nav-second .content-box .navbarr .nav-item .nav-link {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212B36;
  padding: 0;
  transition: all 0.4s ease-in-out;
}
.child-box .nav-second .content-box .navbarr .nav-item .nav-link .tel {
  margin-left: 90px;
  margin-right: 12px;
}
.child-box .nav-second .content-box .navbarr .nav-item .nav-link .contact {
  margin-right: 102px;
}
.child-box .nav-second .content-box .navbarr .nav-item .nav-link:hover {
  scale: 0.9;
}
.child-box .nav-second .content-box .navbarr .nav-item .nav-link:before {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 0;
  height: 3PX;
  background-color: #3056D3;
  transition: all 0.4s ease-in-out;
}
.child-box .nav-second .content-box .navbarr .nav-item .nav-link:hover::before {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 100%;
  height: 3PX;
  background-color: #3056D3;
}
.child-box .nav-second .content-box .navbarr .nav-item .space {
  margin-right: 35px;
}
.child-box .nav-second .content-box .navbarr .social {
  display: flex;
}
.child-box .nav-second .content-box .navbarr .social img {
  margin-left: 15px;
}
.child-box .nav-second .content-box .navbarr .social .doom {
  position: relative;
}
.child-box .nav-second .content-box .navbarr .social p {
  position: absolute;
  top: -4px;
  right: -6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #3056D3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child-box .section-two .content-box .roww {
  margin-top: 40px;
}
.child-box .section-two .content-box .roww p {
  margin: 0;
}
.child-box .section-two .content-box .roww .borderr {
  padding-left: 30px;
}
.child-box .section-two .content-box .roww .card-box {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.child-box .section-two .content-box .roww .card-box:hover {
  transform: translateY(-30px);
  box-shadow: 1px 1px 20px black;
}
.child-box .section-two .content-box .roww .card-box1 {
  background-image: url(/product-img/section-two/Rectangle\ 4925.png);
  background-repeat: no-repeat;
  padding-top: 105px;
  padding-left: 65px;
}
.child-box .section-two .content-box .roww .card-box1 h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #212B36;
}
.child-box .section-two .content-box .roww .card-box1 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin-top: 20px;
}
.child-box .section-two .content-box .roww .card-box1 button {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #3056D3;
  margin-top: 40px;
  margin-bottom: 105px;
  transition: all 0.4s ease-in-out;
}
.child-box .section-two .content-box .roww .card-box1 button:hover {
  scale: 1.2;
}
.child-box .section-two .content-box .roww .card-box2 {
  background-image: url(/product-img/section-two/Rectangle\ 4926.png);
  background-size: cover;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 94px;
  padding-right: 35px;
}
.child-box .section-two .content-box .roww .card-box2 h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  color: #212B36;
}
.child-box .section-two .content-box .roww .card-box2 p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #212B36;
  margin-top: 12px;
  padding-bottom: 35px;
}
.child-box .section-two .content-box .roww .card-box3 {
  background-image: url(/product-img/section-two/Rectangle\ 4927.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 94px;
  padding-right: 35px;
  margin-right: 10px;
}
.child-box .section-two .content-box .roww .card-box3 h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  color: #212B36;
}
.child-box .section-two .content-box .roww .card-box3 p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #212B36;
  margin-top: 12px;
  padding-bottom: 35px;
  margin-bottom: 0;
}
.child-box .section-three .content-box {
  padding: 0;
}
.child-box .section-three .content-box .section-title {
  text-align: center;
  margin-top: 120px;
}
.child-box .section-three .content-box .section-title h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #212B36;
}
.child-box .section-three .content-box .section-title .line {
  margin: auto;
  margin-top: 18px;
  margin-bottom: 18px;
  width: 100px;
  height: 3px;
  background-color: #3056D3;
}
.child-box .section-three .content-box .section-title p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin-bottom: 64px;
}
.child-box .section-three .content-box .roww .poss {
  position: relative;
}
.child-box .section-three .content-box .roww .poss .price {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 55px;
  height: 26px;
  border-radius: 4px;
  color: #FFFFFF;
}
.child-box .section-three .content-box .roww .poss .one {
  background-color: #DC2626;
}
.child-box .section-three .content-box .roww .poss .two {
  background-color: #3056D3;
}
.child-box .section-three .content-box .roww .poss .three {
  background-color: #13C296;
}
.child-box .section-three .content-box .roww .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.child-box .section-three .content-box .roww .btn-box .btn1 {
  border: 1px solid #637381;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.child-box .section-three .content-box .roww .btn-box .btn1:hover {
  scale: 1.2;
}
.child-box .section-three .content-box .roww .btn-box .btn2:hover {
  scale: 1.2;
}
.child-box .section-three .content-box .roww .btn-box .btn2 {
  background-color: #3056D3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.child-box .section-three .content-box .roww .col-box {
  border-radius: 8px;
  border: 0.5px solid #E7E7E7;
  text-align: center;
  padding: 0;
  margin-left: 30px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.child-box .section-three .content-box .roww .col-box button {
  margin-top: 25px;
  border-radius: 4px;
  background-color: #3056D3;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 30px;
  transition: all 0.4s ease-in-out;
}
.child-box .section-three .content-box .roww .col-box button:hover {
  scale: 1.2;
}
.child-box .section-three .content-box .roww .col-box .black {
  background-color: #212B36;
  border: none;
}
.child-box .section-three .content-box .roww .col-box .img {
  width: 100%;
}
.child-box .section-three .content-box .roww .col-box .inner-box {
  text-align: center;
}
.child-box .section-three .content-box .roww .col-box .inner-box h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #212B36;
  margin-top: 25px;
}
.child-box .section-three .content-box .roww .col-box .inner-box p {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #212B36;
  margin-top: 5px;
}
.child-box .section-three .content-box .roww .col-box .inner-box p span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin-left: 10px;
}
.child-box .section-three .content-box .roww .col-box:hover {
  transform: translateY(-30px);
  box-shadow: 1px 1px 20px black;
}
.child-box .section-four {
  background-color: #FFFFFF;
}
.child-box .section-four .row {
  margin-top: 120px;
}
.child-box .section-four .row .col-box h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #3056D3;
  margin-top: 180px;
}
.child-box .section-four .row .col-box h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: #000000;
  margin-top: 15px;
}
.child-box .section-four .row .col-box p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #637381;
  margin-top: 25px;
}
.child-box .section-four .row .col-box button {
  margin-top: 40px;
  margin-bottom: 175px;
  transition: all 0.4s ease-in-out;
}
.child-box .section-four .row .col-box button:hover {
  scale: 1.2;
}
.child-box .section-four .row .col-box img {
  width: 100%;
}
.child-box .section-five {
  background-color: #FAFAFA;
}
.child-box .section-five .content-box .section-title h1 {
  padding-top: 120px;
  margin: 0 !important;
}
.child-box .section-five .content-box .row {
  text-align: center;
}
.child-box .section-five .content-box .row .box {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.child-box .section-five .content-box .row .box:hover {
  transform: translateY(-30px);
}
.child-box .section-five .content-box .row .btn-box {
  margin-top: 80px;
  margin-bottom: 120px;
}
.child-box .section-five .content-box .row .btn-box button {
  border-radius: 4px;
  background-color: #3056D3;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  transition: all 0.4s ease-in-out;
}
.child-box .section-five .content-box .row .btn-box button:hover {
  scale: 1.2;
}
.child-box .section-five .content-box .row .box {
  text-align: center;
  padding: 0 15px;
}
.child-box .section-five .content-box .row .box img {
  width: 100%;
}
.child-box .section-five .content-box .row .box h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-top: 20px;
}
.child-box .section-five .content-box .row .box p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin-top: 3px;
}
.child-box .section-six .content-box .roww .col-lg {
  padding: 0 15px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.child-box .section-six .content-box .roww .col-lg:hover {
  transform: translateY(-30px);
}
.child-box .section-six .content-box .roww img {
  width: 100%;
}
.child-box .section-six .content-box .roww .blue-box {
  width: 116px;
  background-color: #3056D3;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child-box .section-six .content-box .roww .blue-box h5 {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
}
.child-box .section-six .content-box .roww h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #212B36;
  margin-top: 18px;
  margin-bottom: 0;
}
.child-box .section-six .content-box .roww p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin-top: 15px;
  margin-bottom: 120px;
}
.child-box .section-seven {
  border: 1px solid #E7E7E7;
  border-top: none;
  border-left: none;
  border-right: none;
}
.child-box .section-seven .flue .col-box {
  text-align: center;
  border: 1px solid #E7E7E7;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.child-box .section-seven .flue .col-box img {
  margin-top: 60px;
}
.child-box .section-seven .flue .col-box h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #212B36;
  margin-top: 28px;
}
.child-box .section-seven .flue .col-box p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin-top: 10px;
  margin-bottom: 60px;
}
.child-box .section-seven .flue .col-box:hover {
  transform: translateY(-30px);
  box-shadow: 1px 1px 20px black;
}
.child-box .section-seven .second-box {
  padding-bottom: 83px;
}
.child-box .section-seven .second-box .roww .logo {
  margin-top: 79px;
}
.child-box .section-seven .second-box .roww h4 {
  margin-top: 79px;
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #212B36;
}
.child-box .section-seven .second-box .roww p {
  margin-top: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.child-box .section-seven .second-box .roww p:hover {
  scale: 1.1;
}
.child-box .section-seven .second-box .roww .flax {
  display: flex;
  align-items: center;
}
.child-box .section-seven .second-box .roww .flax img {
  margin-right: 17px;
}
.child-box .section-seven .second-box .roww .box {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
}
.child-box .section-seven .second-box .roww .box img {
  margin-left: 26px;
}
.child-box .section-seven .second-box .roww .box .text {
  margin: auto;
}
.child-box .section-seven .second-box .roww .box .text h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.child-box .section-seven .second-box .roww .box .text h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.child-box .section-seven .second-box .roww .box:hover {
  scale: 1.1;
}
.child-box .section-seven .second-box .roww .first {
  background-color: #3056D3;
}
.child-box .section-seven .second-box .roww .second {
  background-color: #212B36;
  margin-top: 12px;
}
.child-box footer .boxx {
  text-align: center;
}
.child-box footer .boxx .img {
  margin-top: 35px;
}
.child-box footer .boxx .img img {
  margin-left: 16px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.child-box footer .boxx .img img:hover {
  scale: 1.2;
}
.child-box footer .boxx p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
}

@media (max-width: 1000px) {
  * {
    overflow-x: hidden;
  }
  .section-one .content-box {
    padding: 0 !important;
  }
  .section-one .content-box .drop-bg .logo {
    margin: 0 !important;
  }
  .section-one .content-box .drop {
    color: black;
  }
  .section-one .content-box a {
    margin: 20px;
  }
  .section-one .content-box .icon {
    margin-left: 225px;
    margin-bottom: 30px;
  }
  .section-two .content-box .card-box2 .speaker {
    right: 58px !important;
  }
  .section-three .content-box .roww .bg-one {
    margin-left: -6px;
  }
  .section-three .content-box .roww .bg-two {
    width: 99%;
  }
  .section-three .content-box .roww .bg-two .mi {
    top: 119px;
    width: 36px;
  }
  .section-three .content-box .roww .bg-three {
    margin-left: -6px;
  }
  .section-four .content-box {
    padding-right: 25px;
  }
  .section-four .content-box .col-img {
    margin: 0 !important;
  }
  .section-four .content-box .col-img .glass {
    width: 103%;
  }
  .section-four .content-box .col-img .star-box .price {
    margin-left: 40px !important;
  }
  .section-seven .content-box {
    margin: 0 !important;
    padding: 0 !important;
  }
  .section-seven .content-box .img {
    margin-top: 20px;
  }
  .section-seven .content-box .col-box .star-box {
    margin-bottom: 30px;
  }
  .section-seven .content-box .col-box1 {
    margin: 0 !important;
  }
  .section-eight .content-box .ms-5 {
    margin: 0 !important;
  }
  .section-eight .content-box .col-lg {
    padding-left: 28px;
  }
  .section-eight .second-container .d {
    margin-top: 38px;
  }
  .section-eight .second-container .last {
    margin-bottom: 21px;
  }
  .child-box {
    overflow-x: hidden;
  }
  .child-box .section-one .nav-second .content-box .navbarr {
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .child-box .section-one .nav-second .content-box .navbarr .nav-link img {
    margin-left: 0;
    margin-right: 20px;
  }
  .child-box .section-one .nav-second .content-box .navbarr .nav-link .tel {
    margin: 0;
  }
  .child-box .section-two .content-box .roww .borderr {
    padding: 0;
  }
  .child-box .section-three .content-box .roww .col-box {
    width: 100%;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */